<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progresso</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <img src="../Images/Diseño sin título.png" alt="Nuestro Logo" width="200px">
    </header>
    <div class="container-fondo">
        <img
        class="background"
        src="../Images/movies.webp"
    >
    </div>
    <section class="descripcion">
        <h1 class="titulo">¡Bienvenido a Progresso!</h1>
        <p class="intro"><span>Progresso</span> es tu compañero ideal para mantener el control de tus aventuras cinematográficas, series favoritas y lecturas apasionantes. Con nuestra aplicación, podrás registrar tu progreso, añadir nuevas series, películas y libros a tu lista, y gestionar tu experiencia de manera sencilla y eficiente.<br><br>Empieza hoy mismo a organizar tus recursos y no pierdas el hilo de tus entretenimientos favoritos. ¡Inicia sesión o regístrate para comenzar a disfrutar de una experiencia personalizada con Progresso!
        </p>
        <div class="botones">
            <a href="registrar.html"><button class="logIn">¡Quiero registrarme!</button></a>
            <a href="iniciarsesion.html"><button class="signUp">Iniciar Sesión</button></a>
        </div>
    </section>
    <script src="../JS/main.js"></script>
</body>
</html>