<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progresso</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header>
      <img
        src="../Images/Diseño sin título.png"
        alt="Nuestro Logo"
        width="200px"
      />
    </header>
    <div id="saludo">
      <span id="nombre"></span>
    </div>
    <section class="introduccion">
      <p>
        Aquí podrás explorar y gestionar una variedad de recursos según tus
        intereses. Utiliza el botón 'Agregar Recurso' para incluir nuevos
        elementos y personalizar tu experiencia. ¡Fácil y divertido!
      </p>
    </section>
    <section class="opcContainer">
      <button class="botonAdd">
        <img src="../assets/agregar.svg" alt="Agregar " />Recurso
      </button>
      <a href="index.html" class="atrasInicio"><img src="../assets/inicio.svg" alt="icono">Volver al inicio</a>
      <nav>
        <div class="form-group">
        <input type="text" id="searchField" name="query" placeholder="Introduce el término de búsqueda" required>
        </div>
        <button class="buscar"><img src="../assets/buscar.svg" alt="Search.."></button>
      </nav>
    </section>
    <h1 class="tusRecursos">Tus Recursos</h1>

    <section class="formularioAgregarSource">
      <h1 class="tituloForm">¡Hora de agregar!</h1>
      <form id="agregarCampos">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombreRecurso" name="nombre" required />
        <br /><br />
        <label for="genero">Género: </label>
        <select name="genero" id="generoRecurso" required>
          <option value="Acción">Acción</option>
          <option value="Aventura">Aventura</option>
          <option value="Comedia">Comedia</option>
          <option value="Drama">Drama</option>
          <option value="Terror">Terror</option>
          <option value="Romance">Romance</option>
          <option value="Ciencia Ficción">Ciencia Ficción</option>
          <option value="Biografía">Biografía</option>
          <option value="Misterio">Misterio</option>
          <option value="Musical">Musical</option>
        </select>
        <br /><br />
        <label for="plataforma">Plataforma: </label>
        <select name="plataforma" id="plataformaRecurso" required>
          <option value="Netflix">Netflix</option>
          <option value="Disney+">Disney+</option>
          <option value="Amazon">Amazon</option>
          <option value="HBO max">HBO max</option>
          <option value="Crunchyroll">Crunchyroll</option>
          <option value="Wattpad">Wattpad</option>
          <option value="Google Libros">Google Play Libros</option>
        </select>
        <br /><br />
        <label for="estado">Estado: </label>
        <select name="estado" id="estadoRecurso" required>
          <option value="Terminado">Terminado</option>
          <option value="Progreso">En Progreso</option>
          <option value="Pendiente">Pediente</option>
          <option value="Pausado">En Pausa</option>
          <option value="En espera">En Espera</option>
        </select>
        <br /><br />
        <label for="formato">Formato: </label>
        <select name="formato" id="formatoRecurso" required>
          <option value="Libro">Libro</option>
          <option value="Película">Película</option>
          <option value="Serie">Serie de TV</option>
        </select>
        <br /><br />
        <label for="fecha">Terminado en: </label>
        <input type="date" id="fechaRecurso" name="fecha" />
        <br /><br />
        <section class="Calificacion">
          <label for="calificacion">Calificación: </label>
          <div class="calificacion">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text"
              ><svg
                viewBox="0 0 576 512"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                class="star-solid"
              >
                <path
                  d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                ></path></svg
            ></label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text"
              ><svg
                viewBox="0 0 576 512"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                class="star-solid"
              >
                <path
                  d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                ></path></svg
            ></label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text"
              ><svg
                viewBox="0 0 576 512"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                class="star-solid"
              >
                <path
                  d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                ></path></svg
            ></label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text"
              ><svg
                viewBox="0 0 576 512"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                class="star-solid"
              >
                <path
                  d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                ></path></svg
            ></label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text"
              ><svg
                viewBox="0 0 576 512"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                class="star-solid"
              >
                <path
                  d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                ></path></svg
            ></label>
          </div>
        </section>
        <section class="opinion">
          <label for="resena">Reseña:</label>
          <textarea
            id="resena"
            name="resena"
            rows="5"
            cols="40"
            placeholder="Escribe tu reseña aquí..."
            required
          ></textarea>
          <br /><br />
        </section>
      </form>
      <div class="btn">
        <button id="guardar">¡Guardar!</button>
        <button id="cancelar">Cancelar</button>
      </div>
    </section>


    <section class="formularioActualizarSource">
      <h1 class="tituloForm">¡Actualiza tu recurso!</h1>
      <p class="advertencia">Estos son los datos de tu recurso actuales, cambia los que desees (si no los editas mantendrán su valor)</p>
      <form id="agregarCampos">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombreRecursoActualiza" name="nombre" required />
        <br /><br />
        <label for="genero">Género: </label>
        <select name="genero" id="generoRecursoActualiza" required>
          <option value="Acción">Acción</option>
          <option value="Aventura">Aventura</option>
          <option value="Comedia">Comedia</option>
          <option value="Drama">Drama</option>
          <option value="Terror">Terror</option>
          <option value="Romance">Romance</option>
          <option value="Ciencia Ficción">Ciencia Ficción</option>
          <option value="Biografía">Biografía</option>
          <option value="Misterio">Misterio</option>
          <option value="Musical">Musical</option>
        </select>
        <br /><br />
        <label for="plataforma">Plataforma: </label>
        <select name="plataforma" id="plataformaRecursoActualiza" required>
          <option value="Netflix">Netflix</option>
          <option value="Disney+">Disney+</option>
          <option value="Amazon">Amazon</option>
          <option value="HBO max">HBO max</option>
          <option value="Crunchyroll">Crunchyroll</option>
          <option value="Wattpad">Wattpad</option>
          <option value="Google Libros">Google Play Libros</option>
        </select>
        <br /><br />
        <label for="estado">Estado: </label>
        <select name="estado" id="estadoRecursoActualiza" required>
          <option value="Terminado">Terminado</option>
          <option value="Progreso">En Progreso</option>
          <option value="Pendiente">Pediente</option>
          <option value="Pausado">En Pausa</option>
          <option value="En espera">En Espera</option>
        </select>
        <br /><br />
        <label for="formato">Formato: </label>
        <select name="formato" id="formatoRecursoActualiza" required>
          <option value="Libro">Libro</option>
          <option value="Película">Película</option>
          <option value="Serie">Serie de TV</option>
        </select>
        <br /><br />
        <label for="fecha">Terminado en: </label>
        <input type="date" id="fechaRecursoActualiza" name="fecha" />
        <br /><br />
        <section class="Calificacion">
          <label for="calificacion">Calificación: </label>
          <select name="calificacion" id="calificacionRecursoActualiza" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </section>
        <section class="opinion">
          <label for="resena">Reseña:</label>
          <textarea
            id="resenaActualiza"
            name="resena"
            rows="5"
            cols="40"
            placeholder="Escribe tu reseña aquí..."
            required
          ></textarea>
          <br /><br />
        </section>
      </form>
      <div class="btn">
        <button id="guardarActual">¡Guardar!</button>
        <button id="cancelarActual">Cancelar</button>
      </div>
    </section>
    <div class="oscurecer"></div>
    <section class="filtrar"></section>
    <section class="recursosContainer">
      <ul class="recursos"></ul>
    </section>
    <script src="../JS/main.js"></script>
  </body>
</html>
