<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progresso</title>
</head>
<body>
    <header>
        <img src="../Images/Diseño sin título.png" alt="Nuestro Logo" width="200px">
    </header>
        <button class="botonAdd"><img src="../assets/agregar.svg" alt="Agregar ">Recurso</button>

    </form>
    <a href="index.html">Volver al inicio</a>
    <script src="../JS/main.js"></script>
</body>
</html>