<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progresso</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <img src="../Images/Diseño sin título.png" alt="Nuestro Logo" width="200px">
    </header>
    <div class="container-fondo">
        <img
        class="background"
        src="../Images/movies.webp"
    >
    </div>
    <p class="parrafo">¡Maximiza tu experiencia de entretenimiento! Regístrate y mantén un seguimiento perfecto de lo que ves y lees.</p>
    <form id="registroForm">
        <div class="registroCampo">
            <input type="text" name="nombre" id="usuarioNombre" required placeholder="Ingresa un nombre de usuario">
            <label for="usuarioNombre">Nombre: </label>
        </div>
        <div class="registroCampo">
            <input type="email" name="email" id="usuarioEmail" required placeholder="Ingresa un email válido">
            <label for="usuarioEmail">Email: </label>
        </div>
        <div class="registroCampo">
            <input type="password" name="password" id="usuarioContra" required placeholder="Ingresa tu contraseña">
            <label for="usuarioContra">Contraseña: </label>
        </div>
        <button type="submit" class="boton">Registrar</button>
    </form>
    <a href="index.html" class="atras"><img src="../assets/inicio.svg" alt="icono">Volver al inicio</a>
    <script src="../JS/main.js"></script>
</body>
</html>