*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes fadeInTop{
  0%{
      transform: translateY(-50px);
  }
  100%{
      transform: translateY(0px);
  }
}

@keyframes upDown{
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-50px);
  }
}

header{
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Inicio*/

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.container-fondo::before {
  content: "";
  font-size: 24px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.descripcion{
  margin: auto;
  margin-top: 12%;
  width: 50%;
  animation: fadeInTop 2s ease forwards;
}

.titulo{
  color: #ffff;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}

.intro{
  color: #fff;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro span{
  color: red;
  font-weight: bold;
}

.logIn,
.signUp,
.boton{
  padding: 10px;
  border-radius: 16px;
  font-size: 1em;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 80%;
  margin: auto;
}

.logIn:hover,
.signUp:hover,
.boton:hover,
.botonAdd:hover,
#guardar:hover,
#cancelar:hover,
.atrasInicio:hover,
#cancelarActual:hover,
#guardarActual:hover{
  scale: 1.1;
  background-color: red;
  cursor: pointer;
}

/*Inicio sesión, registro*/
.parrafo{
  color: #fff;
  text-align: center;
  padding-top: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4em;
  animation: fadeInTop 2s ease forwards;
}

#iniciarForm,
#registroForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 2%; /*responsive*/
  animation: fadeInTop 2s ease forwards;
}

.iniciarCampo,
.registroCampo{
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 10px;
}

.iniciarCampo label,
.registroCampo label{
  color: red;
  font-weight: bold;
}

.iniciarCampo input,
.registroCampo input{
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.em;
  color: #fff;
}

.atras{
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 4%;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: fadeInTop 2s ease forwards;
  font-size: 1.1em;
}


/*inicio*/

body{
  background-color: #161616;
}

#saludo{
  color: white;
  text-align:start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  animation: fadeInTop 2s ease forwards;
  padding: 1%;
  padding-left: 3%;
}

.introduccion{
  color: #fff;
  text-align: start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1em;
  animation: fadeInTop 2s ease forwards;
  padding-left: 3%;
}

.botonAdd,
#searchField{
  margin-left: 3%;
  margin-top: 1%;
  padding: 10px;
  border-radius: 16px;
  font-size: 0.9em;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  animation: fadeInTop 2s ease forwards;
}

.atrasInicio{
  margin-left: 3%;
  margin-top: 1%;
  padding: 10px;
  border-radius: 16px;
  font-size: 0.9em;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  max-width: 150px;
  gap: 5px;
  animation: fadeInTop 2s ease forwards;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.tusRecursos{
  color: red;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
  animation: fadeInTop 2s ease forwards;
}

.oscurecer {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900; 
}

.oscurecer.activo {
  display: block;
  opacity: 1;
}

.opcContainer{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin: 30px;
}

.recursosContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.buscar{
  background-color: transparent;
  border: none;
  margin-left: 9px;
}

nav{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

/*formulario*/

.formularioAgregarSource,
.formularioActualizarSource{
  display: none;
  position: fixed;
  width: 50%;
  left: 25%;
  right: 25%;
  transform: translate(-50%, -50%); 
  background-color: #161616; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  padding: 20px; 
  font-family: sans-serif; 
  z-index: 1000; 
  animation: fadeInTop 2s ease forwards;
}

.formularioAgregarSource.oculto,
.formularioAgregarSource.oculto {
  opacity: 0;
  transform: scale(0.95);
}

#agregarCampos label{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9em;
}

#agregarCampos input,
#agregarCampos select,
textarea {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  color: white;
  padding-left: 5px;
}

#agregarCampos select option {
  padding: 5px; 
  background-color: #161616;
}

.Calificacion{
  display: flex;
  gap: 10px;
}

.tituloForm{
  text-align: center;
  color: red;
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 2%;
}

.calificacion:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .calificacion:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
  }
  
  .calificacion:not(:checked) > label > svg {
    fill: #666; 
    transition: fill 0.3s ease; 
  }
  
  .calificacion input[type="radio"] {
    display: none; 
  }

  .calificacion > input:checked + label:hover,
  .calificacion > input:checked + label:hover ~ label,
  .calificacion > input:checked ~ label:hover,
  .calificacion > input:checked ~ label:hover ~ label,
  .calificacion > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }
  
  .calificacion:not(:checked) > label:hover,
  .calificacion:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }
  
  .calificacion > input:checked ~ label > svg {
    fill: #ffa723; 
  }

  .opinion{
    display: flex;
    gap: 5px;
    padding: 20px 0 10px 0;
  }

  textarea::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  textarea{
    padding: 10px;
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 8px;
  }

  #guardar,
  #cancelar,
  #cancelarActual,
  #guardarActual{
    background-color: #161616;
    border-radius: 16px;
    border: 1px solid white;
    padding: 5px;
    color: white
  }


  /*elementos*/

  li{
    list-style: none;
  }

  .recurso{
    border: 1px solid white;
    border-radius: 16px;
    padding: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 350px;
  }
  .recurso span{
    color: red;
  }

  .recursos{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 2%;
    animation: fadeInTop 2s ease forwards;
    margin-bottom: 30px;
    width: 100vw;
  }

  .bienvenida{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
  }

  #nombreSource{
    color: red;
    padding: 10px 0 10px 0;
  }

  .eliminar,
  .actualizar{
    background-color: #161616;
    border-radius: 8px;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

/*responsive*/
@media (max-width: 425px){
  .titulo{
    font-size: 1.3em;
  }
  .intro{
    font-size: 1em;
  }

  .botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .logIn,
.signUp{
  font-size: 0.9em;
}

#nombre{
  font-size: 20px;
}
.introduccion{
  font-size: 15px;
  padding: 20px 10px;
}

.botonAdd,
.atrasInicio,
.boton,
.atras{
  padding: 5px;
  font-size:15px;
  margin-bottom: 10px;
}

#nombreSource{
  font-size: 20px;
}

#genero,
#plataforma,
#estado,
#formato,
#fecha,
#calificacion,
#resena{
  font-size: 15px;  
}

.parrafo{
  font-size: 1em;
  margin: 10px;
}

#iniciarForm label{
  font-size: 15px;
}

}