*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes fadeInTop{
  0%{
      transform: translateY(-50px);
  }
  100%{
      transform: translateY(0px);
  }
}

header{
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Inicio*/

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.container-fondo::before {
  content: "";
  font-size: 24px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.descripcion{
  margin: auto;
  margin-top: 12%;
  width: 50%;
  animation: fadeInTop 2s ease forwards;
}

.titulo{
  color: #ffff;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}

.intro{
  color: #fff;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro span{
  color: red;
  font-weight: bold;
}

.logIn,
.signUp,
.boton{
  padding: 10px;
  border-radius: 16px;
  font-size: 1em;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 80%;
  margin: auto;
}

.logIn:hover,
.signUp:hover,
.boton:hover{
  scale: 1.1;
  background-color: red;
  cursor: pointer;
}

/*Inicio sesión, registro*/
.parrafo{
  color: #fff;
  text-align: center;
  padding-top: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4em;
  animation: fadeInTop 2s ease forwards;
}

#iniciarForm,
#registroForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 2%; /*responsive*/
  animation: fadeInTop 2s ease forwards;
}

.iniciarCampo,
.registroCampo{
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 10px;
}

.iniciarCampo label,
.registroCampo label{
  color: red;
  font-weight: bold;
}

.iniciarCampo input,
.registroCampo input{
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.em;
  color: #fff;
}

.atras{
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 4%;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: fadeInTop 2s ease forwards;
  font-size: 1.1em;
}


/*inicio*/

body{
  background-color: #161616;
}

#saludo{
  color: #fff;
  text-align:start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4em;
  animation: fadeInTop 2s ease forwards;
}
.formularioAgregarSource{
    display: none;
}

.calificacion:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .calificacion:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
  }
  
  .calificacion:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
  }
  
  .calificacion > input:checked + label:hover,
  .calificacion > input:checked + label:hover ~ label,
  .calificacion > input:checked ~ label:hover,
  .calificacion > input:checked ~ label:hover ~ label,
  .calificacion > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }
  
  .calificacion:not(:checked) > label:hover,
  .calificacion:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }
  
  .calificacion > input:checked ~ label > svg {
    fill: #ffa723; /* Set color for selected stars */
  }


/*responsive*/
@media (max-width: 425px){
  .titulo{
    font-size: 1.3em;
  }
  .intro{
    font-size: 1em;
  }

  .botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .logIn,
.signUp{
  font-size: 0.9em;
}

}